.App {
  text-align: left;
  background-color: beige;
}

button {
  width: 100px;
  background-color: blanchedalmond;
  border-radius: 5px;
}

input {
  border-color: black;
  border-radius: 5px;
  
}

ol {
  text-align: left;
  margin-left: 4%;
  padding-left: 0;
}

li {
  background-color: aquamarine;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  list-style-type: none;
}

.ip {
  padding: 2% 5%;
}